<div class="container">
    <div class="row mb-2">
        <p class="col-1" style="text-align: center;">{{people.id}}</p>
        <p class="col-2 mr-2" style="text-align: center;">{{people.name}}</p>
        <p class="col-2 mr-2" style="text-align: center;">{{people.surname}}</p>
        <p class="col-3 mr-2" style="text-align: center;">{{people.telephone}}</p>
        <a class="btn btn-primary col-2 mr-3" [routerLink]="['/edit', people.id]">Редактировать</a>
        <button type="button" class="btn btn-danger col-1" (click)="deletePeople(people.id)">Удалить</button>
    </div>
</div>