<div class="container mt-3">
    <div class="row">
        <p class="col-1" style="text-align: center;"><strong>ID</strong></p>
        <p class="col-2 mr-2" style="text-align: center;"><strong>Имя</strong></p>
        <p class="col-2 mr-2" style="text-align: center;"><strong>Фамилия</strong></p>
        <p class="col-3 mr-2" style="text-align: center;"><strong>Номер телефона</strong></p>
    </div>
</div>

<div *ngIf="!loading; else noload">
    <div class="container mb-10">
        <div class="row col-12">
            <input type="text" class="form-control" id="search" placeholder="Поиск" [(ngModel)]="search">
        </div>
    </div>
    <br>

    <app-view-people
        *ngFor="let human of p | filter : search"
        [people]="human"
        (onDelete)="deletePeople($event)"
    ></app-view-people>
</div>

<ng-template #noload>
    <div class="container">
        <br><br>
        <h1 style="text-align: center;">Загрузка...</h1>
    </div>
</ng-template>


